* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
}

#header-container-link-image {
    width: 73px;
    height: 35px;
}

.section-1 {
    
    display: flex;
    align-items: center;
    justify-content: center;
}